# Ignore all
*
# Unignore files with extensions => Ignoring binaries
!*.*
# Unignore folders
!*/
# Ignore .out files
**/**.out

# Ignore latex_document and to_check folders
**/latex_document/**
**/to_check/*
# Unignore needed files
!**/latex_document/**.tex

!**/latex_document/Images/
!**/latex_document/Images/**/*

!**/latex_document/**.pdf
